<%=flash_notices%>

<%form_tag "/sessions", :method => :POST do%>
   <div class="row">
      <%=label :member, :name%>
      <%=text_field_tag "member[name]", (params[:member][:name] || "")%>
   </div>
   
   <div class="row">
      <%=label :member, :password%>
      <%=password_field_tag "member[password]"%>
   </div>
   
   <%=submit_tag "Login"%>
<%end%>