<div class="navigation-bar">
   <ul>
      <li><%=link_to "Home", root_path, :class => (current_page?("/") ? "selected" : "")%></li>
      <li><%=link_to "About Us", "/aboutus", :class => (current_page?("/aboutus") ? "selected" : "")%></li>
      <li><%=link_to "Members", members_path, :class => (controller.class==MembersController ? "selected" : "")%></li>
      <li><%=link_to "Events", events_path, :class => (controller.class==EventsController ? "selected" : "")%></li>
      <li><%=link_to "Albums", albums_path, :class => (controller.class==AlbumsController ? "selected" : "")%></li>
      <%if @current_member%>
         <li><%=link_to "Wiki", wiki_page_path(WikiPage.first)%>
         <li><%=link_to "Logout", logout_path %></li>
      <%else%>
         <li><%=link_to "Login", login_path, :class => (current_page?("/login") ? "selected" : "")%></li>
      <%end%>
   </ul>
</div>