<%content_for :sidebar, render(:partial => "show_sidebar")%>

<%if @wiki_page!=WikiPage.first%>
  <%= link_to "Back to Index", WikiPage.first %>
<%else%>
  <%= link_to "Show all Wiki Pages", wiki_pages_path %>
<%end%>

<div class="wiki_page">
  <h1>
    <%=@wiki_page.name%> 
    <%unless @wiki_page.wiki_aliases.empty?%>
      (<%=@wiki_page.wiki_aliases.collect(&:name).join(", ")%>)
    <%end%>
  </h1>

   
   <div class="content">
      <%=RedCloth.new(@wiki_page.linked_content).to_html%>
   </div>
   
   <% unless @wiki_page.wiki_files.empty? %> 
     <div>
        <h2>Attached files</h2>
        <ul>
          <%for file in @wiki_page.wiki_files%>
            <li><%= link_to file.data_file_name, file.data.url %> </li>
          <%end%>
        </ul>
     </div>
    <% end %>
   
</div>