<%content_for :sidebar, render(:partial => "sidebar")%>
<%= link_to 'Back to album list', albums_path %>

<%if @current_member%>
  | <%= link_to "Edit Album", edit_album_path(@album) %>
<%end%>

<h1><%=@album.name%></h1>

<p>
  <%=@album.description%>
</p>

<% if !@album.photos.blank? %>
  <%index = 1%>
  <% for ph in @album.photos.in_order %>
    <div class='photo'>
      <%= link_to image_tag(ph.image.url(:medium)), ph %>
    </div>
    <%if index%3==0%>
      <br/>
    <%end%>
    <%index+=1%>
  <% end %>
<% else %>
  No Photos in this Album
<% end %>
